# Ignorar todos los archivos en la carpeta
practica_1/*
apigateway/*
terraform.tfstate

# No ignorar los archivos con extensión .tf
!practica_1/*.tf
!practica_1/*.sh
!apigateway/*.tf
!apigateway/*.sh

